@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(216, 12%, 54%);
}

.attribution a {
  color: hsl(25, 97%, 53%);
}

/* - Mobile: 375px
- Desktop: 1440px */


:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --v-dark-blue: hsl(216, 12%, 8%);
  --spacer-s: 15px;
  --spacer-m: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: 'Overpass', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: hsl(225, 13%, 6%);
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  max-width: 410px;
  padding: 30px;
  background: var(--v-dark-blue);
  border-radius: 25px;
  background: radial-gradient(circle farthest-side at 50% 0%, var(--dark-blue), var(--v-dark-blue));
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  transition: all 2s;
  margin-bottom: var(--spacer-m);
}

#rating {
  align-items: flex-start;
  justify-content: space-between;
}

#rating p {
  padding-right: 30px;
}

.icon {
  display: inline-block;
  padding: 18px 17px;
  background: var(--dark-blue);
  border-radius: 50%;
  margin-bottom: var(--spacer-m);
}

h1, p {
  margin: 0;
}

h1 {
  margin-bottom: 8px;
}

p {
  color: var(--medium-grey);
  line-height: 1.7em;
  margin-bottom: var(--spacer-m);
}

#rating form {
  width: 100%;
}

#rating form .numbers {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacer-m);
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#rating form input {
  display: none;
}

#rating form label {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 17px;
  background: var(--dark-blue);
  border-radius: 50%;
}

#rating form label:hover {
  cursor: pointer;
  background: var(--medium-grey);
  color: var(--white);
}

#rating form input:checked+label {
  cursor: pointer;
  background: var(--orange);
  color: var(--white);
}

button {
  background: var(--orange);
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--white);
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background: var(--white);
  color: var(--orange);
}

#thankyou {
  display: none;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.illustration {
  margin-bottom: var(--spacer-m);
}

p#rating-tag {
  background: var(--dark-blue);
  padding: 6px 18px;
  border-radius: 25px;
  color: var(--orange);
}

@media only screen and (max-width: 375px) {
  :root {
    --spacer-s: 10px;
    --spacer-m: 20px;
  }
  .card {
    width: 280px;
    padding: 20px;
    border-radius: 20px;
  }
  #rating form label {
    width: 40px;
    height: 40px;
    padding: 12px;
  }
  button {
    height: 40px;
    border-radius: 20px;
  }
  .icon {
    padding: 13px 12px;
  }
}